.user {
  margin: 20px 20px;
  border: 1.5px solid #e0dede;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #e0dede;
}
.photo img {
  width: 250px;
  height: 250px;
}
.fa-user,
.fa-venus-mars,
.fa-envelope,
.fa-phone-alt,
.fa-address-card,
.fa-money-bill-alt {
  color: gray;
  margin: 6px 10px;
  font-size: 12px;
}
.Button {
  text-align: center;
}
.Button-Class {
  margin: 15px 0;
  padding: 7px;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightsalmon;
  color: white;
}

.fa-plus {
  font-size: 12px;
  text-align: center;
}

.disable {
  margin: 15px 0;
  padding: 7px;
  width: 100px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  color: gray;
  text-align: center;
  disable: true;
}
